<div class="bk">
  <h1 style="text-align: center; color:blue; font-family: 'Times New Roman', Times, serif;  font-size: 70px;" >My Swahili Quotes</h1>
  <hr>
  <div class="row" >
    <div class="col-md-6" > 
      <ul class="testing">
      <li *ngFor='let quote of quotes;let i = index'>
  
        <p appHighlight *ngIf="highestupvote()===quote.upvote && quote.upvote>0">{{quote.quote}}</p>
        <p  *ngIf="highestupvote()!==quote.upvote || quote.upvote===0">{{quote.quote}}</p>
        
        <app-quote-detail *ngIf='quote.showDescription'  [quote]='quote'(isComplete)='completeQuote($event,i)'></app-quote-detail>
        <!-- <p><i class="fa fa-thumbs-up" style="font-size: 40px; color:blue;" aria-hidden="true"></i></p>
        <p><i class="fa fa-thumbs-down" style="font-size: 40px; color : blue;" aria-hidden="true"></i></p> -->
      </li>
    
    </ul>
  </div>
   
  <div class="col-md-6">
    <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>

  </div></div>
  
  <!-- <button class="btn btn-primary" (click)="upvote(i)">Upvote</button>
  <button class="btn" (click)="downvote(i)">Downvote</button>
  <button class="btn btn-danger" (click)="delQuote(i)">Delete</button> -->
  <!-- <p>{{quote.upvote}}</p> -->
 <!-- <button (click)='upvote()'>Upvote</button>
 <p>{{quote.downvote}}</p> 
 <button (click)='downvote()'>Downvote</button>   -->
 <!-- <app-goal-detail *ngIf='quote.showDescription' [quote]='quote' (isComplete) = 'completeGoal($event,i)'></app-quote-detail> -->
  <!-- <app-quote-form></app-quote-form> -->
  
</div>

<style>
  body{
  font-size: 30px;
  background-color: rgb(230, 248, 242);
}

</style>

