<!-- <p>{{quote.description}}</p> -->
<div>
<h5>Quote:{{quote.name}}</h5>
<h5>Author:{{quote.quote}}</h5>
<h5>Name:{{quote.writter}}</h5>
</div>

  

<!-- <p>
  Upvotes:{{quote.upvotes}}
</p>
<p>
  Downvotes:{{quote.Downvotes}}
</p> -->
<p>{{quote.upvote}}</p>
 <button (click)='upvote()' style="color: rgb(67, 65, 185);">Upvote</button>
 <p>{{quote.downvote}}</p> 
 <button (click)='downvote()' style="color: rgba(222, 184, 135, 0.726);" >Downvote</button>  

<button (click)='quotecomplete(true)' style="color: darkred;"  >delete</button>
