
<div>
<h5>Quote:{{quote.name}}</h5>
<h5>Author:{{quote.quote}}</h5>
<h5>Name:{{quote.writter}}</h5>
</div>

  

<!-- <p>
  Upvotes:{{quote.upvotes}}
</p>
<p>
  Downvotes:{{quote.Downvotes}}
</p> -->
<p>{{quote.upvote}}</p>
 <button (click)='upvote()' style="color: white; font-size: 20px; background-color: forestgreen; ">Upvote</button>
 <p>{{quote.downvote}}</p> 
 <button (click)='downvote()' style="color: white; font-size: 20px; background-color: rgb(0, 89, 255); " >Downvote</button>  

<button (click)='quotecomplete(true)' style="color: white; font-size: 20px;  background-color: red; "   >delete</button>
